.topicPage{
  .page-content{
    padding: 10px;
    .topicTitle{
      margin: .7em 0 0;
      font-size: 20px;
    }
  }
  .topicInfo{
    margin: 0 -10px !important;
    h5,p{
      margin: 0;
    }
  }
  .refresh{
    left: 50% !important;
    top: 10px !important;
    transform: translateX(-50%) !important;
  }
  .replayItem{
    &:not(:last-child){
      @extend %one-px-border;
    }
  }
}